<div class="row admin-wrapper">
  <div class="col-md-6 col-sm-1">
    <div class="l-box">
      <h3><%= link_to 'Categories', controller: 'categories' %></h3>
      <p class="count"><%= @categories.count %></p>
      <% if @categories.count != 0 %>
        <p><span class="bold"><%= @categories.last.description %></span> added <%= time_ago_in_words(@categories.last.created_at) %> ago</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 col-sm-1">
    <div class="l-box">
      <h3><%= link_to 'Competitions', controller: 'competitions' %></h3>
      <p class="count"><%= @competitions.count %></p>
      <% if @competitions.count != 0 %>
        <p><span class="bold"><%= @competitions.last.name %></span> added <%= time_ago_in_words(@competitions.last.created_at) %> ago</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 col-sm-1">
    <div class="l-box">
      <h3><%= link_to 'Events', controller: 'events' %></h3>
      <p class="count"><%= @events.count %></p>
      <% if @events.count != 0 %>
        <p><span class="bold"><%= @events.last.name %></span> added <%= time_ago_in_words(@events.last.created_at) %> ago</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 col-sm-1">
    <div class="l-box">
      <h3><%= link_to 'Players', controller: 'players' %></h3>
      <p class="count"><%= @players.count %></p>
      <% if @players.count != 0 %>
        <p><span class="bold"><%= @players.last.name %></span> added <%= time_ago_in_words(@players.last.created_at) %> ago</p>
      <% end %>
    </div>
  </div>
    <div class="col-md-6 col-sm-1">
    <div class="l-box">
      <h3><%= link_to 'Tickets', controller: 'tickets' %></h3>
      <p class="count"><%= @tickets.count %></p>
      <% if @tickets.count != 0 %>
        <p>Tickets for <span class="bold"><%= @tickets.last.event.name %></span> added <%= time_ago_in_words(@tickets.last.created_at) %> ago</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 col-sm-1">
    <div class="l-box">
      <h3><%= link_to 'Venues', controller: 'venues' %></h3>
      <p class="count"><%= @venues.count %></p>
      <% if @venues.count != 0 %>
        <p><span class="bold"><%= @venues.last.name %></span> added <%= time_ago_in_words(@venues.last.created_at) %> ago</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 col-sm-1">
    <div class="l-box">
      <h3><%= link_to 'Pages', controller: 'pages' %></h3>
      <p class="count"><%= @pages.count %></p>
      <% if @pages.count != 0 %>
        <p><span class="bold"><%= @pages.last.title %></span> added <%= time_ago_in_words(@pages.last.created_at) %> ago</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 col-sm-1">
    <div class="l-box">
      <h3>Homepage</h3>
      <p><%= link_to "Top slides", admin_home_slides_path(slides_kind: 'top_slides') %></p>
      <p><%= link_to "Featured events", admin_home_slides_path(slides_kind: 'featured_events') %></p>
      <p><%= link_to "Top events", admin_home_slides_path(slides_kind: 'top_events') %></p>
      <p><%= link_to "Popular events", admin_home_slides_path(slides_kind: 'popular_events') %></p>
      <p><%= link_to "#Popular Events", admin_home_line_items_path() %></p>
    </div>
  </div>
</div>
