<div class="buy__item">
  <div class="buy__item-in">
    <%= link_to ticket_path(item.ticket_id), 'class' => "buy__item-title" do %>
      <%= item.ticket.event.name %>
      <% if item.ticket.category.present? %>
        (category: <%= item.ticket.category %>)
      <% end %>
    <% end %>
  </div>
  <div class="buy__item-in">
    <div class="buy__item-price">&nbsp; <%= item.amount %> &nbsp;</div>
  </div>
  <div class="buy__item-in">
    <div class="buy__item-price"><%= currency_symbol(item.ticket) %> <%= item.ticket.price.round %></div>
  </div>
  <div class="buy__item-in">
    <%= link_to '-', sub_from_cart_path(ticket: item.ticket.id), :class => 'btn btn--sml' %>
    <%= link_to '+', add_to_cart_path(ticket: item.ticket.id), :class => 'btn btn--sml', disabled: (item.ticket.quantity ? item.amount >= item.ticket.quantity : nil) %>
    <%= link_to 'X', remove_from_cart_path(ticket: item.ticket.id), :class => 'btn btn--sml', title: "Remove item" %>
  </div>
</div>
