<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h1>Cart</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if @cart && @cart.items.any? %>
    <div class="cart-items-table">
      <div class="cart-items-table-tbody">
        <% @cart.items.each do |item| %>
          <div class="cart-items-table-tr">
            <div class="cart-items-table-td">
              <%= link_to item.ticket.full_name, ticket_path(item.ticket_id) %>
            </div>
            <div class="cart-items-table-td">
              <%= currency_symbol(item.ticket) %>&nbsp;<%= item.ticket.price.round %>
            </div>
            <div class="cart-items-table-td">
              <%= link_to '-', sub_from_cart_path(ticket: item.ticket.id), :class => 'cart-item-btn' %>&nbsp;<%= item.quantity %>&nbsp;<%= link_to '+', add_to_cart_path(ticket: item.ticket.id), :class => 'cart-item-btn', disabled: (item.ticket.quantity ? item.quantity >= item.ticket.quantity : nil) %>
            </div>
            <div class="cart-items-table-td">
              <%= currency_symbol(item.ticket) %>&nbsp;<%= item.ticket.price.round * item.quantity %>
            </div>
            <div class="cart-items-table-td">
              <%= link_to 'X', remove_from_cart_path(ticket: item.ticket.id), :class => 'cart-item-btn', title: "Remove item" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container-fluid">
      <div class="cart-summary">
        <%= @cart.items.inject(0) { |sum, item| sum + item.ticket.price.round * item.quantity } %>
      </div>
      <%# TODO check currencies of tickets ? %>
      <%
        if false && Rails.env == 'production'
          paypal_cnfg = {
            form_url: 'https://www.paypal.com/cgi-bin/webscr',
            business: 'info@ticket-finders.com',
            currency: 'USD'
          }
        else
          paypal_cnfg = {
            form_url: 'https://www.sandbox.paypal.com/cgi-bin/webscr',
            business: 'mstrdymio-facilitator@gmail.com',
            currency: 'RUB'
          }
        end
        # TODO remove the line below — it is only test
        paypal_cnfg[:form_url] = apply_cart_path(@cart);
      %>
      <form action="<%= paypal_cnfg[:form_url] %>" accept-charset="UTF-8" method="post">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="business" value="<%= paypal_cnfg[:business] %>">
        <input type="hidden" name="shopping_url" value="<%= cart_url %>">
        <input type="hidden" name="notify_url" value="<%= apply_cart_url(@cart.id) %>">
        <%# notify_url - The URL to which PayPal posts information about the payment, in the form of Instant Payment Notification messages. %>
        <input type="hidden" name="currency_code" value="<%= paypal_cnfg[:currency] %>">
        <%# currency_code - USD|EUR https://developer.paypal.com/docs/classic/api/currency_codes %>
        <input type="hidden" name="return" value="<%= categories_url %>">
        <% @cart.items.each_with_index do |item, indx| %>
          <input type="hidden" name="amount_<%= indx + 1 %>" value="<%= item.ticket.price %>">
          <input type="hidden" name="shipping_<%= indx + 1 %>" value="15.00">
          <input type="hidden" name="item_name_<%= indx + 1 %>" value="Ticket <%= item.ticket.full_name %>">
          <input type="hidden" name="item_number_<%= indx + 1 %>" value="<%= item.ticket.id %>">
          <input type="hidden" name="quantity_<%= indx + 1 %>" value="<%= item.quantity %>">
          <input type="hidden" name="on0_<%= indx + 1 %>" value="<%= item.ticket.category %>">
          <%# <input type="hidden" name="shipping_1" value="1.75"> %>
        <% end %>
        <div style="padding-top: 20px;">
          <input type="submit" class="btn" style="padding: 10px 50px;font-size: 22px;font-weight: 100;" value="Buy with PayPal">
          or
          <%= link_to 'clear the cart', clear_cart_path %>
        </div>
      </form>

    </div>
  <% else %>
    <p>No items in the cart.</p>
  <% end %>
</div>
