<% content_for(:after_layout) do %>
    <img src="/content/test/Cart Page.png" style="top: 128px; left: 125px; display: none" class="supertest" />
  <% end %>

<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h1>Shopping Cart</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if @items_by_currencies.any? %>
    <% @items_by_currencies.each_key do |currency| %>
      <div class="panel">
        <div class="cart-items-table">
          <div class="cart-items-table-thead">
            <div class="cart-items-table-tr">
              <div class="cart-items-table-td">Items</div>
              <div class="cart-items-table-td">Ticket Price</div>
              <div class="cart-items-table-td">Quantity</div>
              <div class="cart-items-table-td">Subtotal</div>
              <div class="cart-items-table-td"></div>
            </div>
          </div>
          <div class="cart-items-table-tbody">
            <% @items_by_currencies[currency].each do |item| %>
              <div class="cart-items-table-tr">
                <div class="cart-items-table-td">
                  <%= link_to ticket_path(item.ticket_id) do %>
                    <% if item.ticket.event %>
                      <%= item.ticket.event.name %> Ticket
                      <% if item.ticket.event.competition %>
                        &mdash; <%= item.ticket.event.competition.name %>
                      <% end %>
                    <% else %>
                      Ticket
                    <% end %>
                  <% end %>
                  <br><br>
                  Category: <%= item.ticket.category %>
                  <% if item.ticket.event %>
                    <br>
                    Time:
                    <% if item.ticket.event.tbc? %>
                      TBC
                    <% else %>
                      <%= l(item.ticket.event.start_time, format: "%A/ %-d %B %Y /%H:%M").html_safe %>
                    <% end %>
                  <% end %>
                </div>
                <div class="cart-items-table-td">
                  <%= currency_symbol(item.ticket) %>&nbsp;<%= "%g" % item.ticket.price %>
                  <br>
                  fee:
                  <% if item.ticket.have_fee? %>
                    <%= currency_symbol(item.ticket) %>&nbsp;<%= "%g" % item.ticket.amount_of_fee %>
                  <% else %>
                    0
                  <% end %>
                </div>
                <div class="cart-items-table-td">
                  <%= link_to '-', sub_from_cart_path(ticket: item.ticket.id), :class => 'cart-item-btn' %>&nbsp;&nbsp;<%= item.quantity %>&nbsp;&nbsp;<%= link_to '+', add_to_cart_path(ticket: item.ticket.id), :class => 'cart-item-btn', disabled: (item.ticket.quantity ? item.quantity >= item.ticket.quantity : nil) %>
                </div>
                <div class="cart-items-table-td">
                  <%= currency_symbol(item.ticket) %>&nbsp;<%= "%g" % (item.ticket.full_price * item.quantity) %>
                </div>
                <div class="cart-items-table-td">
                  <%= link_to 'X', remove_from_cart_path(ticket: item.ticket.id), :class => 'cart-item-btn', title: "Remove item" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="cart-summary">
          <% sum = @items_by_currencies[currency].inject(0.0) { |sum, item| sum + item.ticket.full_price * item.quantity } %>
          <% cnt = @items_by_currencies[currency].size %>
          Cart Subtotal: <span class="cart-summary-value"><%= currency_symbol(currency) %>&nbsp;<%= "%g" % sum %></span><br>
          Delivery: <span class="cart-summary-value"><%= currency_symbol(currency) %>&nbsp;<%= "%g" % (cnt * OrderItem::SHIPPING_COST) %></span><br>
          Total: <span class="cart-summary-value"><%= currency_symbol(currency) %>&nbsp;<%= "%g" % (cnt * OrderItem::SHIPPING_COST + sum) %></span>
        </div>
      </div>
      <div class="cart-actions-line">
        <%= link_to "Continue Shopping", root_path, :class => 'cart-action-back' %>
        <% if user_signed_in? %>
          <% if Rails.env == 'development' %>
            <%= render partial: 'dev_pay_button', locals: { cart: @cart, currency: currency, cart_items: @items_by_currencies[currency] } %>
          <% else %>
            <%= render partial: 'paypal_button', locals: { cart: @cart, currency: currency, cart_items: @items_by_currencies[currency] } %>
          <% end %>
        <% else %>
          <%= link_to 'Checkout securely now', new_user_session_path, :class => 'like-a-submit' %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No items in the cart.</p>
  <% end %>
</div>
