<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h1>Cart</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if @cart && @cart.items.any? %>
    <table class="cart-items">
      <tbody>
        <% @cart.items.each do |item| %>
          <tr>
            <td>
              <%= link_to ticket_path(item.ticket_id), 'class' => "buy__item-title" do %>
                <%= item.ticket.event.name %>
                <% if item.ticket.category.present? %>
                  (category: <%= item.ticket.category %>)
                <% end %>
              <% end %>
            </td>

            <td>
              <%= currency_symbol(item.ticket) %>&nbsp;<%= item.ticket.price.round %>
            </td>

            <td>
              <%= link_to '-', sub_from_cart_path(ticket: item.ticket.id), :class => 'cart-item-btn' %>&nbsp;<%= item.amount %>&nbsp;<%= link_to '+', add_to_cart_path(ticket: item.ticket.id), :class => 'cart-item-btn', disabled: (item.ticket.quantity ? item.amount >= item.ticket.quantity : nil) %>
            </td>

            <td>
              <%= currency_symbol(item.ticket) %>&nbsp;<%= item.ticket.price.round * item.amount %>
            </td>

            <td>
              <%= link_to 'X', remove_from_cart_path(ticket: item.ticket.id), :class => 'cart-item-btn', title: "Remove item" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="container-fluid">
      <div class="cart-summary">
        <%= @cart.items.inject(0) { |sum, item| sum + item.ticket.price.round * item.amount } %>
      </div>
      <%# TODO check currencies of tickets ? %>
      <%= form_tag 'https://www.paypal.com/cgi-bin/webscr' do %>
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="business" value="info@ticket-finders.com">
        <input type="hidden" name="return" value="https://www.ticket-finders.com/">
        <% @cart.items.each_with_index do |item, indx| %>
          <input type="hidden" name="amount_<%= indx + 1 %>" value="<%= item.ticket.price %>">
          <input type="hidden" name="shipping_<%= indx + 1 %>" value="15.00">
          <input type="hidden" name="item_name_<%= indx + 1 %>" value="<%= item.ticket.event ? item.ticket.event.name : 'Ticket' %>">
          <input type="hidden" name="item_number_<%= indx + 1 %>" value="<%= item.ticket.id %>">
          <input type="hidden" name="quantity_<%= indx + 1 %>" value="<%= item.amount %>">
          <input type="hidden" name="on0_<%= indx + 1 %>" value="<%= item.ticket.category %>">
        <% end %>
        <%# notify_url - The URL to which PayPal posts information about the payment, in the form of Instant Payment Notification messages. %>
        <div style="padding-top: 20px;">
          <input type="submit" class="btn" style="padding: 10px 50px;font-size: 22px;font-weight: 100;" value="Buy with PayPal">
          or
          <%= link_to 'clear the cart', clear_cart_path %>
        </div>
      <% end %>

    </div>
  <% else %>
    <p>No items in the cart.</p>
  <% end %>
</div>
