<%= form_for [:admin, @player], url: (@player.new_record? ? nil : admin_player_path(@player.id)), html: {class: 'pure-form'} do |f| %>

  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@player.errors.count, "error") %> prohibited
        this player from being saved:
      </h2>
      <ul>
        <% @player.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'pure-input-1-2' %>
  </p>

  <p>
    <%= f.label :slug %><br>
    /players/ <%= f.text_field :slug, class: 'pure-input-1-3' %><br>
    <small>* leave blank to autobuild slug based on name</small>
  </p>

  <p>
    <h3>Information blocks</h3>
    <ul id="info-blocks">
      <%= f.simple_fields_for :info_blocks do |info_block| %>
        <%= render '/admin/shared/info_block_fields', f: info_block %>
      <% end %>
    </ul>
    <div class="links">
      <%= link_to_add_association '+ Add new information block', f, :info_blocks, partial: '/admin/shared/info_block_fields', data: { "association-insertion-node" => "#info-blocks", "association-insertion-method" => "append"} %>
    </div>
  </p>

  <p>
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.order('description ASC'), :id, :description, { prompt: true }, { :class => 'chzn-select' }) %>
  </p>

  <!-- if image already exists for this player, show image -->
  <%= image_tag(@player.avatar.grid_small.url) if @player.avatar? %>

  <p>
    <%= f.label :avatar, "Image" %>
    <%= f.file_field :avatar %>
  </p>

  <%= render partial: 'admin/shared/seo_data_fields', locals: { f: f, name: 'player' } %>

  <p>
    <%= f.submit nil, class: 'pure-button pure-button-primary' %>
  </p>

<% end %>
