<%= form_for [:admin, @player], url: (@player.new_record? ? nil : admin_player_path(@player.id)) do |f| %>

  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@player.errors.count, "error") %> prohibited
        this player from being saved:
      </h2>
      <ul>
        <% @player.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :slug %><br>
    /players/ <%= f.text_field :slug %><br>
    <small>* leave blank to autobuild slug based on name</small>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.order('description ASC'), :id, :description, { prompt: true }, { :class => 'chzn-select' }) %>
  </p>

  <!-- if image already exists for this player, show image -->
  <%= image_tag(@player.avatar.grid_small.url) if @player.avatar? %>

  <p>
    <%= f.label :avatar, "Image" %>
    <%= f.file_field :avatar %>
  </p>

  <%= render partial: 'admin/shared/seo_data_fields', locals: { f: f, name: 'player' } %>

  <p>
    <%= f.submit %>
  </p>

<% end %>
