<div class="holder">
  <p>
    <strong>Name:</strong>
    <%= @player.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link_to (@player.slug.present? ? @player.slug : @player.id), player_path(@player), target: '_blank' %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= Category.find(@player.category_id).description %>
  </p>

  <% if @player.avatar.present? %>
    <p>
      <%= image_tag(@player.avatar.grid_small.url) %>
    </p>
  <% end %>

  <% if @player.tabs.any? %>
    <%= render partial: '/admin/shared/tabs', locals: {tabs: @player.tabs} %>
  <% end %>

  <%= render partial: 'admin/shared/seo_data_info', locals: { carrier: @player, name: 'Player' } %>

  <%= link_to 'Edit', edit_admin_player_path(@player.id) %> |
  <%= link_to 'Back', admin_players_path %>

  <%= render 'admin/events/events', events: @events %>
</div>
