<%= simple_form_for [:admin, @event] do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </p>

  <p>
    <%= f.label :venue_id %><br>
    <%= f.collection_select(:venue_id, Venue.order('name ASC'), :id, :name, prompt: true) %>
  </p>

  <p>
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.order('description ASC'), :id, :description, prompt: true) %>
  </p>

  <p>
    <%= f.label :competition_id %><br>
    <%= f.collection_select(:competition_id, Competition.order('name ASC'), :id, :name, prompt: true) %>
  </p>

  <p>
    <%= f.label :sports, 'Is this event a sport?' %>
    <%= f.check_box :sports %>
  </p>

  <p>
    <%= f.label :priority, 'Do you want to prioritize this event?' %>
    <%= f.check_box :priority %>
  </p>

  <!-- habtm addition -->

  <p>
    <%= f.label :players %>
    <%= f.association :players, :multiple => true, label: false %>
  </p>
  <h3>
    Tickets
  </h3>
  <div id="tickets">
    <table class="pure-table pure-table-striped pure-table-horizontal">
      <thead>
        <th>Price</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Text</th>
        <th>Pairs Only</th>
        <th>Currency</th>
        <th>Remove Ticket</th>
      </thead>
      <tbody class="ticket_items">
        <%= f.simple_fields_for :tickets do |ticket| %>
          <%= render 'ticket_fields', f: ticket %>
        <% end %>
    </tbody>
  </table>
    <div class="links">
      <%= link_to_add_association 'add ticket', f, :tickets, data: {"association-insertion-node" => "tbody.ticket_items", "association-insertion-method" => "append"} %>
    </div>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>
