<%= simple_form_for [:admin, @event], url: (@event.new_record? ? nil : admin_event_path(@event.id)) do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :slug %><br>
    <%= events_path() %>/ <%= f.text_field :slug %><br>
    <small>* leave blank to autobuild slug based on name</small>
  </p>

  <p>
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
    or
    <%= f.check_box :tbc %> <%= f.label :tbc, "TBC" %><br>
  </p>

  <p>
    <%= f.label :venue_id %><br>
    <%= f.collection_select(:venue_id, Venue.order('name ASC'), :id, :name, { prompt: true }, { :class => 'chzn-select' }) %>
  </p>

  <p>
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.order('description ASC'), :id, :description, { prompt: true }, { :class => 'chzn-select' }) %>
  </p>

  <p>
    <%= f.label :competition_id %><br>
    <%= f.collection_select(:competition_id, Competition.order('name ASC'), :id, :name, { prompt: true }, { :class => 'chzn-select' }) %>
  </p>

  <p>
    <%= f.label :sports, 'Is this event a sport?' %>
    <%= f.check_box :sports %>
  </p>

  <p>
    <%= f.label :priority, 'Do you want to prioritize this event?' %>
    <%= f.check_box :priority %>
  </p>

  <!-- habtm addition -->

  <p>
    <%= f.label :players %>
    <%= f.association :players, :multiple => true, label: false, input_html: { :class => 'chzn-select' } %>
  </p>

  <%= render partial: 'admin/shared/seo_data_fields', locals: { f: f, name: 'event' } %>

  <h3>Tickets</h3>
  <div id="tickets">
    <table class="pure-table pure-table-striped pure-table-horizontal">
      <thead>
        <th>Category</th>
        <th>Enquire?</th>
        <th>Price</th>
        <th>Fee</th>
        <th>Quantity</th>
        <th>Pairs Only</th>
        <th>Currency</th>
        <th>Text</th>
        <th>Remove Ticket</th>
      </thead>
      <tbody class="ticket_items">
        <%= f.simple_fields_for :tickets do |ticket| %>
          <%= render 'ticket_fields', f: ticket %>
        <% end %>
      </tbody>
    </table>
    <div class="links">
      <%= link_to_add_association '+ Add new ticket', f, :tickets, data: {"association-insertion-node" => "tbody.ticket_items", "association-insertion-method" => "append"} %>
    </div>
  </div>

  <h3>Information blocks</h3>
  <ul id="info-blocks">
    <%= f.simple_fields_for :info_blocks do |info_block| %>
      <%= render 'info_block_fields', f: info_block %>
    <% end %>
  </ul>
  <div class="links">
    <%= link_to_add_association '+ Add new information block', f, :info_blocks, data: { "association-insertion-node" => "#info-blocks", "association-insertion-method" => "append"} %>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>
