<li class="nested-fields">
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: 'Title', class: 'col-md-8' %>
    <br>
    <%= f.label :text %><br>
    <%= f.text_area :text, rows: 4, 'data-provider': :summernote %>
    <br>
    <%= link_to_remove_association "- remove this information block", f %>
  </p>
</li>
