<%= simple_form_for [:admin, @event], remote: true do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="pure-table pure-table-striped pure-table-horizontal">
    <thead>
      <th>Name/Venue</th>
      <th width="110px">Start time</th>
      <th></th>
      <th></th>
      <th>Players</th>
      <th></th>
    </thead>
    <tr>
      <td>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
        <br><br>
        <%= f.label :venue_id %><br>
        <%= f.collection_select(:venue_id, Venue.order('name ASC'), :id, :name, { prompt: true }, { :class => 'chzn-select' }) %>
      </td>

      <td>
        <%= f.datetime_select :start_time %>
      </td>

      <td>
        <%= f.label :category_id %><br>
        <%= f.collection_select(:category_id, Category.order('description ASC'), :id, :description, { prompt: true }, { :class => 'chzn-select' }) %>
        <br><br>
        <%= f.label :competition_id %><br>
        <%= f.collection_select(:competition_id, Competition.order('name ASC'), :id, :name, { prompt: true }, { :class => 'chzn-select' }) %>
      </td>

      <td class="center">
        <%= f.check_box :sports %><br><%= f.label :sports, 'Sports' %><br><br>
        <%= f.check_box :priority %><br><%= f.label :priority, 'Priority' %>
      </td>

      <!-- habtm addition -->

      <td>
        <%= f.label :players %>
        <%= f.association :players, :multiple => true, label: false, input_html: { :class => 'chzn-select' } %>
      </td>

      <td>
        <%= f.submit 'Create' %>
      </td>
    </tr>
  </table>
<% end %>
