<tr class="nested-fields" >
  <td>
    <%= f.text_field :price %>
  </td>

  <td>
    <%= f.text_area :category %>
  </td>

  <td>
    <%= f.text_area :quantity %>
  </td>

  <td>
    <%= f.text_area :text %>
  </td>

  <td>
    <%= f.check_box :pairs_only %>
  </td>

  <td>
    <%= f.select :currency, ["Dollars", "Euros", "Pounds"], :prompt => "Choose Currency" %>
  </td>
  <td>
  <%= link_to_remove_association "remove ticket", f %>
</td>
</tr>
