<%= simple_form_for [:admin, @venue] do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@venue.errors.count, "error") %> prohibited
        this event from being saved:
      </h2>
      <ul>
        <% @venue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="pure-table pure-table-striped pure-table-horizontal form-table">
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>Venue</th>
      <th>Category</th>
      <th>Competition</th>
      <th>Sports</th>
      <th>Priority</th>
      <th>Players</th>
      <th></th>
    </tr>

    <tr class="events_attributes">
  <%= f.fields_for :events, @venue.events.build do |event| %>
    <td>
      <%= event.text_field :name %>
    </td>

    <td>
      <%= event.datetime_select :start_time %>
    </td>

    <td>
      <%= event.collection_select(:venue_id, Venue.order('name ASC'), :id, :name, prompt: true) %>
    </td>

    <td>
      <%= event.collection_select(:category_id, Category.order('description ASC'), :id, :description, prompt: true) %>
    </td>

    <td>
      <%= event.collection_select(:competition_id, Competition.order('name ASC'), :id, :name, prompt: true) %>
    </td>

    <td class="center">
      <%= event.check_box :sports %>
    </td>

    <td class="center">
      <%= event.check_box :priority %>
    </td>

    <!-- habtm addition -->

    <td>
      <%= event.association :players, :multiple => true, label: false %>
    </td>
    <% end %>
  </tr>
</table>
  <button id="add_event">
    Add Another Event
  </button>

  <p>
    <%= f.submit %>
  </p>
<% end %>
