<h1>Listing Events</h1>

<%= link_to 'New event', new_admin_event_path, class: "pure-button" %>
<div class="errors">
</div>
<%= render 'form' %>
<br />
<br />



<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@event.errors.count, "error") %> prohibited
      this event from being saved:
    </h2>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<table class="pure-table pure-table-striped pure-table-horizontal just-added">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Start time</th>
    <th>Venue</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <%= render @events %>
</table>
