<div class="holder">
  <p>
    <strong>Name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link_to (@event.slug.present? ? @event.slug : @event.id), event_path(@event), target: '_blank' %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= @event.start_time.strftime("%a, %d-%b-%Y at %I:%M%p") %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= Venue.find(@event.venue_id).name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= Category.find(@event.category_id).description %>
  </p>

  <% if @event.competition_id != nil %>
    <p>
      <strong>Competition:</strong>
      <%= Competition.find(@event.competition_id).name %>
    </p>
    <% else %>
    <p>
      This event doesn't have a competition.
    </p>
  <% end %>

  <% if @event.players.count != 0 %>
    <p>
      <strong>Players:</strong><br />
      <% @event.players.each do |player| %>
        <%= player.name %><br />
      <% end %>
    </p>
    <% else %>
    <p>
      This event doesn't have any players.
    </p>
  <% end %>

  <%= link_to 'Edit/Add Tickets to Event', edit_admin_event_path(@event.id) %> |
  <%= link_to 'Back', admin_events_path %>

  <%= render 'admin/tickets/tickets', tickets: @tickets, title: 'Tickets', skip_event_info: true %>

  <h3>Information blocks</h3>
  <% if @event.info_blocks.any? %>
    <ul>
    <% @event.info_blocks.each do |info_block| %>
      <li>
        <p>
          <b><%= info_block.title %></b><br>
          <%= simple_format info_block.text, {}, wrapper_tag: 'span' %>
        </p>
      </li>
    <% end %>
    </ul>
  <% else %>
    <p>Have no information blocks</p>
  <% end %>
</div>
