<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h1>Log in</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-6">
    <% flash.each do |key, value| %>
      <p><b><%= value %></b></p>
    <% end %>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-wrap">
        <%= f.input :email, required: false, autofocus: true %>
      </div>
      <div class="input-wrap">
        <%= f.input :password, required: false %>
      </div>
      <div class="input-wrap">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="submit-wrap">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
