<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h1>Log in</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% flash.each do |key, value| %>
    <p><b><%= value %></b></p>
  <% end %>

  <div class="log-in-grid log-in-wrapper">
    <div class="log-in-grid-auth-side">
      <h4 class="log-in-title">Customer login</h4>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-line">
          <div class="form-line-label"><%= f.label :email, 'Email&nbsp;Address:'.html_safe %></div>
          <div class="form-line-input"><%= f.email_field :email, required: false, autofocus: true %></div>
        </div>

        <div class="form-line">
          <div class="form-line-label"><%= f.label :password, 'Password:' %></div>
          <div class="form-line-input"><%= f.password_field :password, required: false %></div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-line">
            <div class="form-line-label"></div>
            <div class="form-line-input">
              <%= f.check_box :remember_me %>
              &nbsp;
              <%= f.label :remember_me, 'Remember me' %>
            </div>
          </div>
        <% end %>

        <div class="text-line">
          <%= link_to "Forgotten your password?", new_password_path(resource_name) %>
        </div>

        <div class="submit-line">
          <%= f.submit "Sign in", class: 'buttn' %>
        </div>
      <% end %>
    </div>
    <div class="log-in-grid-reg-side">
      <h4 class="log-in-title">New to&nbsp;Ticketfinders?</h4>
      <p>Sign up for a&nbsp;Ticketfinders account to&nbsp;complete your order</p>
      <%= link_to 'Continue', new_registration_path(resource_name), :class => 'buttn' %>
    </div>
  </div>

  <%#= render "users/shared/links" %>
</div>
