<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h1>Log in</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="panel">
    <div class="panel-body">
      <% flash.each do |key, value| %>
        <p><b><%= value %></b></p>
      <% end %>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-line">
          <div class="form-line-label"><%= f.label :email, 'Email Address:' %></div>
          <div class="form-line-input"><%= f.email_field :email, required: false, autofocus: true %></div>
        </div>

        <div class="form-line">
          <div class="form-line-label"><%= f.label :password, 'Password:' %></div>
          <div class="form-line-input"><%= f.password_field :password, required: false %></div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-line">
            <div class="form-line-label"></div>
            <div class="form-line-input">
              <%= f.check_box :remember_me %>
              &nbsp;
              <%= f.label :remember_me, 'Remember me' %>
            </div>
          </div>
        <% end %>

        <div class="submit-line">
          <%= f.submit "Log in", class: 'buttn' %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "users/shared/links" %>
</div>
