<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner" style="<%= @category.sports? ? "background:url('#{asset_path("title-bg.png")}')" : '' %>">
      <%= render 'shared/breadcrumbs' %>
      <h1><%= @competition.name %></h1>
      <% if @competition.text.present? %>
        <%= render partial: 'shared/page_title_info_text_with_shrink', locals: { text: @competition.text } %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if @players.count > 0 %>
    <div class="tickets">
      <%= render 'shared/sub_search_and_filter', locations: @players_venues.pluck(:name, :id), count: @players.count %>
      <div class="tickets__list row">
        <% @players.each do |player| %>
          <%= render partial: 'players/tile', locals: { player: player, competition: @competition } %>
        <% end %>
      </div>
    </div>
  <% elsif @event_count_before_filtration > 0 %>
    <%= render partial: 'events/list_with_calendar', locals: { events: @events } %>
  <% else %>
    <%= render 'shared/nothing_found_message' %>
  <% end %>
</div>
