<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner" style="<%= @category.sports? ? "background:url('#{asset_path("title-bg.png")}')" : '' %>">
      <%= render 'shared/breadcrumbs' %>
      <h1><%= @competition.name %></h1>
      <% if @competition.text.present? %><div class="page-title__info"><%= @competition.text %></div><% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if @players.count > 0 %>
    <div class="tickets">
      <%#= render 'shared/sub_search_and_filter' %>
      <div class="tickets__list row">
        <% @players.each do |player| %>
          <%= render partial: 'players/tile', locals: { player: player, competition: @competition } %>
        <% end %>
      </div>
    </div>
  <% elsif @events.count > 0 %>
    <div class="considered__wrapper">
      <div class="considered__calendar">
        <div class="considered__calendar-wrap">
          <div id="datepicker"></div>
        </div>
        <%#= render 'shared/similar_events_under_calendar' %>
      </div>
      <div class="considered considered--ticket">
        <a href="#" class="considered__calendar-toggle"><span>Show Calendar</span></a>
        <%= render partial: 'events/list', locals: { events: @events } %>
      </div>
    </div>
  <% else %>
    <%= render 'shared/nothing_found_message' %>
  <% end %>
</div>
