<div class="holder">
  <h1>Order #<%= @order.id %></h1>

  <p>
    <strong>Guid:</strong>
    <%= link_to @order.guid, order_path(@order.guid) %>
  </p>
  <p>
    <strong>Currency:</strong>
    <%= currency_name(@order.currency) %>
  </p>
  <p>
    <strong>Sum:</strong> <%= @order.sum %>
  </p>
  <p>
    <strong>Created at:</strong> <%= @order.created_at.localtime %>
  </p>

  <hr>

  <p>
    <strong>User:</strong>
    <%= @order.user ? link_to(@order.user.email, admin_user_path(@order.user)) : 'Guest' %>
  </p>
  <p><strong>First name:</strong> <%= @order.first_name %></p>
  <p><strong>Last name:</strong> <%= @order.last_name %></p>
  <p><strong>Email:</strong> <%= @order.email %></p>
  <p><strong>Address name:</strong> <%= @order.address_name %></p>
  <p><strong>Address country:</strong> <%= @order.address_country %></p>
  <p><strong>Address country code:</strong> <%= @order.address_country_code %></p>
  <p><strong>Address zip:</strong> <%= @order.address_zip %></p>
  <p><strong>Address state:</strong> <%= @order.address_state %></p>
  <p><strong>Address city:</strong> <%= @order.address_city %></p>
  <p><strong>Address street:</strong> <%= @order.address_street %></p>

  <hr>

  <h3>Tickets</h3>
  <table class="pure-table pure-table-striped pure-table-horizontal">
    <thead>
        <th>Ticket</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Cost</th>
    </thead>
    <tbody>
      <% @order.items.each do |item| %>
        <tr>
          <td><%= link_to_if item.ticket_id.present?, item.ticket_name, admin_ticket_path(item.ticket_id) %></td>
          <td><%= currency_symbol(item) %>&nbsp;<%= "%g" % item.price %></td>
          <td><%= item.quantity %></td>
          <td><%= currency_symbol(item) %>&nbsp;<%= "%g" % (item.price * item.quantity) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />
  <br />
  <%= link_to 'Back', admin_orders_path %>
</div>
