<div class="holder">
  <h1>Order #<%= @order.id %></h1>

  <p>
    <strong>Guid:</strong>
    <%= link_to @order.guid, order_path(@order.guid) %>
  </p>
  <p>
    <strong>User:</strong>
    <%= @order.user ? link_to(@order.user.email, admin_user_path(@order.user)) : 'Guest' %>
  </p>
  <p>
    <strong>Created at:</strong> <%= @order.created_at.localtime %>
  </p>
  <p>
    <strong>Sum:</strong> <%= @order.sum %>
  </p>

  <br />
  <br />

  <h3>Tickets</h3>
  <table class="pure-table pure-table-striped pure-table-horizontal">
    <thead>
        <th>Ticket</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Cost</th>
    </thead>
    <tbody>
      <% @order.items.each do |item| %>
        <tr>
          <td><%= link_to_if item.ticket_id.present?, item.ticket_name, admin_ticket_path(item.ticket_id) %></td>
          <td><%= currency_symbol(item) %>&nbsp;<%= item.price.round %></td>
          <td><%= item.quantity %></td>
          <td><%= currency_symbol(item) %>&nbsp;<%= item.price.round * item.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />
  <br />

  <%= link_to 'Back', admin_orders_path %>
</div>
