<%= form_for @home_slide, url: (@home_slide.new_record? ? admin_home_slides_path(slides_kind: @kind_option) : admin_home_slide_path(slides_kind: @kind_option, id: @home_slide.id)) do |f| %>

  <% if @home_slide.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@home_slide.errors.count, "error") %> prohibited
        this home_slide from being saved:
      </h2>
      <ul>
        <% @home_slide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @slides_kind == HomeSlide::KIND_TOP_SLIDE %>
  <p>
    <% if @home_slide.huge_image? %><%= image_tag(@home_slide.huge_image.thumb.url, :class => 'pure-img') %><br><% end %>
    <%= f.label :huge_image, "Image*" %>
    <%= f.file_field :huge_image %>
    <%= f.hidden_field :huge_image_cache %>
    <br><small>Recommended image size is 1980x685 pixels or more. Use only dark images to avoid bad readability of slide text.</small>
  </p>
  <% elsif @slides_kind == HomeSlide::KIND_FEATURED_EVENT %>
  <p>
    <% if @home_slide.avatar? %><%= image_tag(@home_slide.avatar.grid_small.url, :class => 'pure-img') %><br><% end %>
    <%= f.label :avatar, "Image*" %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </p>
  <% elsif @slides_kind == HomeSlide::KIND_TOP_EVENT %>
  <p>
    <% if @home_slide.big_image? %><%= image_tag(@home_slide.big_image.other.url, :class => 'pure-img') %><br><% end %>
    <%= f.label :big_image, "Image*" %>
    <%= f.file_field :big_image %>
    <%= f.hidden_field :big_image_cache %>
  </p>
  <% elsif @slides_kind == HomeSlide::KIND_POPULAR_EVENT %>
  <p>
    <% if @home_slide.tile_image? %><%= image_tag(@home_slide.tile_image.url, :class => 'pure-img') %><br><% end %>
    <%= f.label :tile_image, "Image*" %>
    <%= f.file_field :tile_image %>
    <%= f.hidden_field :tile_image_cache %>
  </p>
  <% end %>

  <div class="form-switcher pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><%= f.radio_button :manual_input, false %><label for="home_slide_manual_input_false" class="pure-menu-link">Enter an event ID</label></li>
      <li class="pure-menu-item"><%= f.radio_button :manual_input, true %><label for="home_slide_manual_input_true" class="pure-menu-link">Enter all the data manually</label></li>
    </ul>
  </div>

  <div id="home-slide-manual-input-off-fields" style="<%= @home_slide.manual_input? ? 'display: none' : '' %>">
    <p>
      <%= f.label :event_id, "ID of Event" %><br>
      <%= f.number_field :event_id %>
    </p>
  </div>

  <div id="home-slide-manual-input-on-fields" style="<%= @home_slide.manual_input? ? '' : 'display: none' %>">
    <p>
      <%= f.label :title, "Title*" %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :url, "URL*" %><br>
      <%= f.text_field :url %>
    </p>
    <p>
      <%= f.label :place %><br>
      <%= f.text_field :place %>
    </p>
    <p>
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date, include_blank: true %>
    </p>
    <p>
      <%= f.label :end_date %><br>
      <%= f.date_select :end_date, include_blank: true %>
    </p>
    <p>
      <%= f.label :category_id %><br>
      <%= f.collection_select(:category_id, Category.order('description ASC'), :id, :description, prompt: true) %>
    </p>
  </div>
  <p>
    <%= f.label :prior, "Priority" %><br>
    <%= f.number_field :prior %>
    <br><small><%= @kind_human_name %>s with smaller priority will be before <%= @kind_human_name %>s with bigger priority.</small>
  </p>
  <p>
    <%= f.submit ((@home_slide.new_record? ? "Create" : "Update") + " #{@kind_human_name}") %>
  </p>
<% end %>
