  <section id="homepage-hero">

    <div class="row">
      <div class="small-12 small-centered text-center medium-8 large-6 columns">
        <span class="hide-for-touch">
          <h1 class="gotham-bold">Ticket<span class="gotham-regular">Finders</span></h1><br>
        </span>
        <span class="show-for-touch">
          <h2 class="gotham-regular">Ticket<span class="gotham-light">Finders</span></h2><br>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered text-center medium-7 large-6 columns">
        <div class="row collapse">
          <div class="small-1 columns">
            <span class="prefix custom-prefix">
              <i class="fi-magnifying-glass"></i>
            </span>
          </div>
          <div class="small-11 columns">
            <%= form_tag events_path, method: :get do  %>
              <%= text_field_tag :query, params[:query], :placeholder => "Search for an artist, team or city", class: "hero-input" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </section> <!-- -->

  <section class="categories-bg"><!-- -->

    <div class="row">
      <div class="small-6 medium-6 large-3 columns tiles">
        <div class="inner-tile">
          <div class="row">
             <div class="small-12 columns">&nbsp;</div>
          </div>
          <%= link_to static_sport_path do %>
            <p class="change-icon hide-for-touch">
              <span><%= embedded_svg("SportBlue.svg") %></span>
              <span><%= embedded_svg("SportGrey.svg") %></span>
            </p>
            <p class="show-for-touch">
              <span><%= embedded_svg("SportBlue.svg") %></span>
            </p>
          <% end %>
        </div>
      </div>
      <div class="small-6 medium-6 large-3 columns tiles">
        <div class="inner-tile">
          <div class="row">
            <div class="small-12 columns">&nbsp;</div>
          </div>
          <%= link_to category_path(Category.where(description: "Theater").ids) do %>
            <p class="change-icon hide-for-touch">
              <span><%= embedded_svg("TheaterBlue.svg") %></span>
              <span><%= embedded_svg("TheaterGrey.svg") %></span>
            </p>
            <p class="show-for-touch">
              <span><%= embedded_svg("TheaterBlue.svg") %></span>
            </p>
          <% end %>
        </div>
      </div>
      <div class="small-6 medium-6 large-3 columns tiles">
        <div class="inner-tile">
          <div class="row">
            <div class="small-12 columns">&nbsp;</div>
          </div>
          <%= link_to category_path(Category.where(description: "Classical").ids) do %>
            <p class="change-icon hide-for-touch">
              <span><%= embedded_svg("ClassicalBlue.svg") %></span>
              <span><%= embedded_svg("ClassicalGrey.svg") %></span>
            </p>
            <p class="show-for-touch">
              <span><%= embedded_svg("ClassicalBlue.svg") %></span>
            </p>
          <% end %>
        </div>
      </div>
      <div class="small-6 medium-6 large-3 columns tiles">
        <div class="inner-tile">
          <div class="row">
            <div class="small-12 columns">&nbsp;</div>
          </div>
          <%= link_to category_path(Category.where(description: "Concerts").ids) do %>
            <p class="change-icon hide-for-touch">
              <span><%= embedded_svg("ConcertsBlue.svg") %></span>
              <span><%= embedded_svg("ConcertsGrey.svg") %></span>
            </p>
            <p class="show-for-touch">
              <span><%= embedded_svg("ConcertsBlue.svg") %></span>
            </p>
          <% end %>
        </div>
      </div>
    </div>

  </section>

  <div class="row">
      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        <% # Grid item 1 open %>
        <% if Competition.exists?(6) && Competition.find(6).avatar.grid_large.url != nil %>
          <% @grid_item = Competition.find(6) %>
          <%= link_to competition_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_large.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x450">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 1 close %>
        <% # Grid item 2 open %>
        <% if Competition.exists?(5) && Competition.find(5).avatar.grid_large.url != nil %>
          <% @grid_item = Competition.find(5) %>
          <%= link_to competition_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_small.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x300">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 2 close %>
        <% # Grid item 3 open %>
        <% if Player.exists?(1) && Player.find(1).avatar.grid_large.url != nil %>
          <% @grid_item = Player.find(1) %>
          <%= link_to player_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_large.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x450">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 3 close %>
        <% # Grid item 4 open %>
        <% if Competition.exists?(13) && Competition.find(13).avatar.grid_large.url != nil %>
          <% @grid_item = Competition.find(13) %>
          <%= link_to competition_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_large.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x450">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 4 close %>
        <% # Grid item 5 open %>
        <% if Competition.exists?(11) && Competition.find(11).avatar.grid_large.url != nil %>
          <% @grid_item = Competition.find(11) %>
          <%= link_to competition_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_large.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x450">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 5 close %>
        <% # Grid item 6 open %>
        <% if Competition.exists?(7) && Competition.find(7).avatar.grid_large.url != nil %>
          <% @grid_item = Competition.find(7) %>
          <%= link_to competition_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_large.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x450">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 6 close %>
        <% # Grid item 7 open %>
        <% if Competition.exists?(8) && Competition.find(8).avatar.grid_large.url != nil %>
          <% @grid_item = Competition.find(8) %>
          <%= link_to competition_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_large.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x450">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 7 close %>
        <% # Grid item 8 open %>
        <% if Competition.exists?(3) && Competition.find(3).avatar.grid_large.url != nil %>
          <% @grid_item = Competition.find(3) %>
          <%= link_to competition_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_large.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x450">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 8 close %>
        <% # Grid item 9 open %>
        <% if Competition.exists?(9) && Competition.find(9).avatar.grid_large.url != nil %>
          <% @grid_item = Competition.find(9) %>
          <%= link_to competition_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_large.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x450">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 9 close %>
        <% # Grid item 10 open %>
        <% if Competition.exists?(12) && Competition.find(12).avatar.grid_large.url != nil %>
          <% @grid_item = Competition.find(12) %>
          <%= link_to competition_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_large.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x450">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 10 close %>
        <% # Grid item 11 open %>
        <% if Competition.exists?(14) && Competition.find(14).avatar.grid_large.url != nil %>
          <% @grid_item = Competition.find(14) %>
          <%= link_to competition_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_small.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x300">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 11 close %>
        <% # Grid item 12 open %>
        <% if Competition.exists?(17) && Competition.find(17).avatar.grid_large.url != nil %>
          <% @grid_item = Competition.find(17) %>
          <%= link_to competition_path(@grid_item) do %>
            <div class="grid-item">
              <%= image_tag @grid_item.avatar.grid_small.url %>
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  <%= Category.find(@grid_item.category_id).description %> |
                </span>
                <span class="gotham-regular">
                  <%= @grid_item.name %>
                </span>
              </span>
            </div>
          <% end %>
        <% else %>
            <div class="grid-item">
              <img src="http://placehold.it/400x300">
              <span class="image-overlay">
                <span style="color: #2D669A;" class="gotham-regular">
                  Sample Event/Competition |
                </span>
                <span class="gotham-regular">
                  Name of event
                </span>
              </span>
            </div>
          <% end %>
        <% @grid_item = nil %>
        <% # Grid Item 12 close %>
      </div>
  </div>

  <script>
    var $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      columnWidth: '.grid-sizer',
      gutter: '.gutter-sizer'
    });
    // layout Isotope after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry();
    });
  </script>

  <script src='/assets/masonry.min.js'></script>
  <script src='/assets/imagesLoaded.min.js'></script>
