<div class="considered__item">
  <div class="considered__left">
    <div class="considered__date"><strong><%= l event.start_time, format: '%d' %></strong><%= l event.start_time, format: '%b' %></div>
    <div class="considered__title">
      <%= link_to event_path(event) do %><span class="considered__title_text"><%= event.name %></span><% end %>
    </div>
  </div>
  <div class="considered__info">
    <div class="considered__info-inner">
      <div class="considered__info-item"><%= "#{event.venue.city}, #{event.venue.country}" %></div>
      <div class="considered__info-item"><%= event.venue.name %></div>
      <div class="considered__info-item considered__info-item-time"><%= l event.start_time, format: "%H:%M" %></div>
      <div class="considered__info-item "><%= link_to 'Show', event_path(event), class: 'btn' %></div>
    </div>
  </div>
</div>
