<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner" style="<%= @category && @category.sports? ? "background:url('#{asset_path("title-bg.png")}')" : '' %>">
      <%= render 'shared/breadcrumbs' %>
      <h1><%= @event.name %></h1>
      <div class="page-title__info">
        <% if @competition %>
          <%= link_to @competition.name, competition_path(@competition), :class => 'page-title__clarification' %>
        <% end %>
        <div class="page-title__place"><%= "#{@event.venue.city}, #{@event.venue.country}" %></div>
        <a href="#map" class="page-title__place-in link-scroll"><%= @event.venue.name %></a>
        <div class="page-title__time">
          <%= l(@event.start_time, format: "<span>%a</span> <span>%d %B</span> <span>%H:%M</span>").html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tickets tickets--desktop">
  <div class="container-fluid">
    <div class="tickets__info">
      <a href="#popup-chart" class="tickets__view popup-inline" style="background: url('<%= asset_path("view.png") %>');" data-effect="mfp-zoom-in">
        <span>View Seating Chart</span>
      </a>
      <% if @event.info_blocks.any? || @competition && @competition.text.present? %>
      <div class="tickets__info-item">
        <% if @competition && @competition.text.present? %>
        <a href="#" class="tickets__info-link">Information<i></i></a>
        <div class="tickets__info-txt"><%= @competition.text %></div>
        <% end %>
        <% @event.info_blocks.ordered.each do |info_block| %>
        <a href="#" class="tickets__info-link"><%= info_block.title %><i></i></a>
        <div class="tickets__info-txt"><%= simple_format info_block.text, {}, wrapper_tag: 'div' %></div>
        <% end %>
      </div>
      <% end %>
      <%= render 'shared/social_shares' %>
    </div>
    <% if @event_have_tickets %>
      <div class="buy__list">
        <h2>Buy Tickets</h2>
        <div class="buy__list-inner">
          <div class="buy__list-scroller nano">
            <div class="buy__list-scroll nano-content" style="right: 0;">
              <% @sorted_tickets.each do |ticket| %>
                <%= render partial: 'tickets/item', locals: { ticket: ticket } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= render 'shared/nothing_found_message' %>
    <% end %>
  </div>
</div>
<div class="tickets tickets--mobile">
  <div class="container-fluid">
    <ul class="accordion-tabs">
      <li class="tab-head-cont">
        <a href="#" class="is-active">Buy Tickets</a>
        <div class="tab-main">
          <% if @event_have_tickets %>
            <% @sorted_tickets.each do |ticket| %>
              <%= render partial: 'tickets/item', locals: { ticket: ticket } %>
            <% end %>
          <% else %>
            <%= render 'shared/nothing_found_message' %>
          <% end %>
        </div>
      </li>
      <li class="tab-head-cont">
        <a href="#">Seating Chart</a>
        <div class="tab-main">
          <%= image_tag @event.venue.avatar.venue.url, alt: @event.venue.name %>
        </div>
      </li>
      <% if @event.info_blocks.any? || @competition && @competition.text.present? %>
        <li class="tab-head-cont">
          <a href="#">Information</a>
          <div class="tab-main">
            <div class="tab-head__inner">
              <% if @competition && @competition.text.present? %>
              <h3>Information</h3>
              <p><%= @competition.text %></p>
              <% end %>
              <% @event.info_blocks.ordered.each do |info_block| %>
              <h3><%= info_block.title %></h3>
              <%= simple_format info_block.text %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <%= render 'shared/social_shares' %>
  </div>
</div>
<div class="map-wrap">
  <div id="map"></div>
</div>
<div class="considered">
  <div class="container-fluid">
    <h2>Have you considered?</h2>
    <% recommended(@event).each do |event| %>
      <%= render partial: 'events/list_item', locals: { event: event } %>
    <% end %>
  </div>
</div>

<% content_for :after_layout do %>
  <% gon include_gon %>

  <% @sorted_tickets.each do |ticket| %>
    <div id="popup-txt-tckt-<%= ticket.id %>" class="popup mfp-with-anim mfp-hide">
      <h2>Ticket Info</h2>
      <%= simple_format(ticket.text) %>
    </div>
  <% end %>

  <div id="popup-chart" class="popup mfp-with-anim mfp-hide">
    <h2><%= @event.venue.name %> Seating Chart</h2>
    <%= image_tag @event.venue.avatar.venue.url, alt: @event.venue.name %>
  </div>
<% end %>

<% content_for :right_before_body_ends do %>
  <%# GOOGLE MAP API
  old version
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAZw1G4GSEF6-0hYY698R3Y0rnZ77fWuQ&callback=initMap"></script>
  new version
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDj0jj7Vp77F66JiIv-mKzIxkymi1lvj8M"></script>%>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAZw1G4GSEF6-0hYY698R3Y0rnZ77fWuQ"></script>

  <% if Rails.env == 'production' %>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1559392074321796";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <% end %>
<% end %>
