<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner" style="<%= @category && @category.sports? ? "background:url('#{asset_path("title-bg.png")}')" : '' %>">
      <%= render 'shared/breadcrumbs' %>
      <h1><%= @event.name %></h1>
      <div class="page-title__info">
        <% if @competition %>
          <%= link_to @competition.name, competition_path(@competition), :class => 'page-title__clarification' %>
        <% end %>
        <div class="page-title__place"><%= "#{@event.venue.city}, #{@event.venue.country}" %></div>
        <a href="#map" class="page-title__place-in link-scroll"><%= @event.venue.name %></a>
        <div class="page-title__time">
          <%= l(@event.start_time, format: "<span>%a</span> <span>%d %B</span> <span>%H:%M</span>").html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tickets tickets--desktop">
  <div class="container-fluid">
    <div class="tickets__info">
      <a href="#popup-chart" class="tickets__view popup-inline" style="background: url('<%= asset_path("view.png") %>');" data-effect="mfp-zoom-in">
        <span>View Seating Chart</span>
      </a>
      <% if @event.info_blocks.any? %>
      <div class="tickets__info-item">
        <% @event.info_blocks.ordered.each do |info_block| %>
        <a href="#" class="tickets__info-link"><%= info_block.title %><i></i></a>
        <div class="tickets__info-txt"><%= simple_format info_block.text, {}, wrapper_tag: 'div' %></div>
        <% end %>
      </div>
      <% end %>
      <%= render 'shared/social_shares' %>
    </div>
    <% if @event_have_tickets %>
      <div class="buy__list">
        <h2>Buy Tickets</h2>
        <div class="buy__list-inner">
          <div class="buy__list-scroller nano">
            <div class="buy__list-scroll nano-content" style="right: 0;">
              <% @tickets.each do |ticket| %>
                <%= render partial: 'tickets/item', locals: { ticket: ticket } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= render 'shared/nothing_found_message' %>
    <% end %>
  </div>
</div>
<div class="tickets tickets--mobile">
  <div class="container-fluid">
    <ul class="accordion-tabs">
      <li class="tab-head-cont">
        <a href="#" class="is-active">Buy Tickets</a>
        <div class="tab-main">
          <% if @event_have_tickets %>
            <% @tickets.each do |ticket| %>
              <%= render partial: 'tickets/item', locals: { ticket: ticket } %>
            <% end %>
          <% else %>
            <%= render 'shared/nothing_found_message' %>
          <% end %>
        </div>
      </li>
      <li class="tab-head-cont">
        <a href="#">Seating Chart</a>
        <div class="tab-main">
          <%= image_tag @event.venue.avatar.venue.url, alt: @event.venue.name %>
        </div>
      </li>
      <% @event.info_blocks.ordered.each do |info_block| %>
        <li class="tab-head-cont">
          <a href="#"><%= info_block.title %></a>
          <div class="tab-main">
            <div class="tab-head__inner">
              <%= simple_format info_block.text %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <%= render 'shared/social_shares' %>
  </div>
</div>
<div class="map-wrap">
  <div id="map"></div>
</div>
<div class="considered">
  <div class="container-fluid">
    <h2>Have you considered?</h2>
    <% recommended(@event).each do |event| %>
      <%= render partial: 'events/list_item', locals: { event: event } %>
    <% end %>
  </div>
</div>

<% content_for :after_layout do %>
  <% gon include_gon %>

  <% @tickets.each do |ticket| %>
    <div id="popup-txt-tckt-<%= ticket.id %>" class="popup mfp-with-anim mfp-hide">
      <h2>Ticket Info</h2>
      <%= simple_format(ticket.text) %>
    </div>
  <% end %>

  <div id="popup-chart" class="popup mfp-with-anim mfp-hide">
    <h2><%= @event.venue.name %> Seating Chart</h2>
    <%= image_tag @event.venue.avatar.venue.url, alt: @event.venue.name %>
  </div>
<% end %>

<% content_for :right_before_body_ends do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAZw1G4GSEF6-0hYY698R3Y0rnZ77fWuQ"></script>

  <% if Rails.env == 'production' %>
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=59a2b9de93086300127f93b3&product=inline-share-buttons"></script>
  <% end %>

  <%= render 'events/structured_data_script' %>
<% end %>
