<% player ||= nil %>
<div class="buy__item">
  <div class="buy__item-in">
    <a href="#popup-txt-tckt-<%= ticket.id %>" class="buy__item-title popup-inline" data-effect="mfp-zoom-in"><%= ticket.category %><i></i></a>
  </div>
  <div class="buy__item-in">
    <% unless ticket.enquire? %>
    <div class="buy__item-price"><%= currency_symbol(ticket) %> <%= ticket.price.round %></div>
    <% end %>
  </div>
  <div class="buy__item-in">
    <% if ticket.enquire? %>
    <%= link_to 'Enquire', "#popup-enquiry-tckt-#{ticket.id}", :class => 'btn btn--sec popup-inline', 'data-effect' => 'mfp-zoom-in' %>
    <% else %>
    <%= link_to 'Buy', ticket_path(ticket, player: player), :class => 'btn' %>
    <% end %>
  </div>
</div>
