<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner" style="<%= @category && @category.sports? ? "background:url('#{asset_path("title-bg.png")}')" : '' %>">
      <%= render 'shared/breadcrumbs' %>
      <% if @event %>
        <h1><%= @event.name %> Ticket</h1>
        <div class="page-title__info">
          <% if @competition %>
            <%= link_to @competition.name, competition_path(@competition), :class => 'page-title__clarification' %>
          <% end %>
          <div class="page-title__place"><%= "#{@event.venue.city}, #{@event.venue.country}" %></div>
          <div class="page-title__place-in"><%= @event.venue.name %></div>
          <div class="page-title__time">
            <%= l(@event.start_time, format: "<span>%a</span> <span>%d %B</span> <span>%H:%M</span>").html_safe %>
          </div>
        </div>
      <% else %>
        <h1>Ticket</h1>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <p>Note: While on this page these tickets will be held for you, once you navigate away we will release your tickets for others to buy.</p>
  <h2>Ticket Info</h2>
  <% if @ticket.text.present? %><%= simple_format(@ticket.text) %><% end %>
  <p>Category: <%= @ticket.category %></p>
  <p>Ticket Price: <%= currency_symbol(@ticket) %><span id="ticket-price"><%= @ticket.price %></span></p>
  <p>
    Quantity:
    <select id="ticket-quantity-select">
      <% if @ticket.pairs_only == true %>
        <% (2..@ticket.quantity).step(2).to_a.each do |option| %>
          <option value="<%= option %>"><%= option.to_i %></option>
        <% end %>
      <% else %>
        <% (1..@ticket.quantity).to_a.each do |option| %>
          <option value="<%= option %>"><%= option.to_i %></option>
        <% end %>
      <% end %>
    </select>
  </p>

  <p>
    <strong>Total:</strong>
    <%= currency_symbol(@ticket) %><span id="ticket-total"><%= @ticket.pairs_only == false ? @ticket.price : @ticket.price * 2 %></span>
  </p>

  <%#= render 'direct_paypal_buy_button' %>

  <%= form_tag add_to_cart_path, method: 'get' do %>
    <input type="hidden" name="ticket" value="<%= @ticket.id %>">
    <input type="hidden" name="quantity" id="hidden-quantity" value="1">
    <div style="padding-top: 20px;">
      <input type="submit" class="btn" style="padding: 10px 50px;font-size: 22px;font-weight: 100;" value="Add to cart">
    </div>
  <% end %>
</div>
