<% skip_event_info ||= false %>
<tr>
  <% unless skip_event_info %>
  <td><%= ticket.event.id %></td>
  <td><%= ticket.event.name %></td>
  <% end %>
  <td><%= ticket.category %></td>
  <td><%= ticket.enquire? ? '' : currency_name(ticket.currency) %></td>
  <td><%= ticket.enquire? ? '' : ticket.price %></td>
  <td><%= ticket.enquire? ? '' : (ticket.have_fee? ? "#{ticket.fee_percent}%" : '') %></td>
  <td><%= ticket.enquire? ? '' : ticket.quantity %></td>
  <td><%= ticket.enquire? ? 'Y' : '' %></td>
  <td><%= link_to 'Show', admin_ticket_path(ticket) %></td>
  <td><%= link_to 'Edit', edit_admin_ticket_path(ticket) %></td>
  <td><%= link_to 'Destroy', admin_ticket_path(ticket),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
</tr>
