<div class="holder">
  <p>
    <strong>Event:</strong>
    <%= Event.find(@ticket.event_id).name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @ticket.category %>
  </p>

  <% unless @ticket.enquire? %>
    <p>
      <strong>Price:</strong>
      <%= @ticket.price %>
    </p>

    <p>
      <strong>Management fee:</strong>
      <% if @ticket.have_fee? %>
        <%= "#{@ticket.fee_percent}% (#{@ticket.amount_of_fee})" %>
      <% else %>
        0
      <% end %>
    </p>

    <p>
      <strong>Face value:</strong>
      <%= @ticket.face_value_message %>
    </p>

    <p>
      <strong>Full price:</strong>
      <%= @ticket.full_price %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= @ticket.quantity %>
    </p>

    <p>
      <strong>Currency:</strong>
      <%= currency_name(@ticket.currency) %>
    </p>

    <p>
      <strong>Sell in pairs only?</strong>
      <%= @ticket.pairs_only %>
    </p>
  <% end %>

  <p>
    <strong>Enquire?</strong>
    <%= @ticket.enquire? ? 'Yes' : 'No' %>
  </p>

  <p style="word-wrap: break-word;">
    <strong>Text:</strong>
    <%= @ticket.text %>
  </p>

  <%= link_to 'Edit', edit_admin_ticket_path(@ticket) %> |
  <%= link_to 'Back', admin_tickets_path %>

  <% if @enquiries.any? %>
    <h3>Enquiries</h3>
    <table class="pure-table pure-table-striped pure-table-horizontal">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Date</th>
      </thead>
      <% @enquiries.each do |enquiry| %>
        <tr>
          <td><%= enquiry.name %></td>
          <td><%= enquiry.email %></td>
          <td><%= enquiry.body %></td>
          <td><%= l enquiry.created_at, format: :long %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
