<h2>Your order on <a href="<%= root_url %>">Ticketfinders</a></h2>
<p>
  <%= link_to "Order ##{@order.id}", order_url(@order.guid) %>
  was successfully created.
</p>
<p>Tickets in the order:</p>
<ul>
  <% @order.items.each do |item| %>
  <li>
    <%= link_to_if item.ticket_id.present?, item.ticket_name, ticket_url(item.ticket_id) %>
    x
    <%= item.quantity %>
    =
    <%= currency_symbol(item) %><%= "%g" % (item.price * item.quantity) %>
  </li>
  <% end %>
</ul>
<p>Total: <%= currency_symbol(@order) %><%= "%g" % @order.gross %></p>
<p>Shipping: <%= currency_symbol(@order) %><%= "%g" % (@order.delivery_cost) %> </p>
<p><br></p>
<p>
  You can always find information about all your orders in
  <%= link_to 'your profile', user_profile_url %>
  on the site.
</p>
