<% competition ||= nil %>
<% if competition %>
  <% path_to_player = competition_player_path(player, compet: competition) %>
<% else %>
  <% path_to_player = player_path(player) %>
<% end %>

<div class="col-lg-3 col-md-4 col-sm-6 tickets__item" data-item-name="<%= player.name %>" data-location-ids="<%= player.events.actual.pluck(:venue_id).uniq.join(',') %>">
  <%= link_to path_to_player, :class => 'tickets__inner' do %>
    <div class="tickets__img">
      <div class="tickets__img-inner tickets__img-inner--nobg">
        <% unless player.avatar.blank? %>
          <%= image_tag player.avatar.grid_small.url, alt: player.name %>
        <% end %>
      </div>
    </div>
    <div class="tickets__title"><%= player.name %></div>
    <div class="tickets__events">
      <% events_count = player.events.actual.count %>
      <span><%= events_count %></span> <%= 'Event'.pluralize events_count %>
    </div>
  <% end %>
</div>
