<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner" style="<%= @category.sports? ? "background:url('#{asset_path("title-bg.png")}')" : '' %>">
      <%= render 'shared/breadcrumbs' %>
      <h1><%= @player.name %><% if @competition %> | <%= @competition.name %><% end %></h1>
      <% if @player.text.present? %>
        <%= render partial: 'shared/page_title_info_text_with_shrink', locals: { text: @player.text } %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if @events.count > 0 %>
    <div class="considered__wrapper">
      <div class="considered__calendar">
        <div class="considered__calendar-wrap">
          <div id="datepicker"></div>
        </div>
        <%#= render 'shared/similar_events_under_calendar' %>
      </div>
      <div class="considered considered--ticket">
        <a href="#" class="considered__calendar-toggle"><span>Show Calendar</span></a>
        <%= render partial: 'events/list', locals: { events: @events } %>
      </div>
    </div>
  <% else %>
    <%= render 'shared/nothing_found_message' %>
  <% end %>
</div>
