<script type="application/ld+json">
<%= raw @structured_data.to_json %>
</script>
<div id="tab">
  <div class="page-title">
    <div class="container-fluid">
      <div class="page-title__inner" style="<%= @category.sports? ? "background:url('#{asset_path("title-bg.png")}')" : '' %>">
        <%= render 'shared/breadcrumbs' %>
        <h1><%= @player.name %><% if @competition %> | <%= @competition.name %><% end %></h1>
      </div>
      <div class="tabs">
        <div id="button1" class="tab-item">Events</div>
        <% @player.tabs.each_with_index do |tab, ind| %>
          <div id="button<%= ind + 2 %>" class="tab-item"><%= tab.name %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="tab-contents">
      <div id="content1" class="tab-content">
        <% if @event_count_before_filtration > 0 %>
          <%= render partial: 'events/list_with_calendar', locals: { events: @events, player: @player.id } %>
        <% else %>
          <%= render 'shared/nothing_found_message' %>
        <% end %>
      </div>
      <% @player.tabs.each_with_index do |tab, ind| %>
        <div id="content<%= ind + 2 %>" class="tab-content">
          <div class="considered__wrapper">
            <div class="considered__calendar">
              <div class="considered__calendar-wrap">
                <div class="datepicker" data-base-url="<%= url_for(params.permit!.to_h.merge(dt: nil)) %>" data-start-date="<%= @start_date ? @start_date.strftime('%Y-%m-%d') : '' %>"></div>
                <div class="datepicker-text-box">
                  Dates & times are correct at time of publishing but are subject to change, please check local sources for latest updates
                </div>
              </div>
            </div>
            <div class="considered considered--ticket">
              <%= raw tab.content %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
