<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner" style="<%= @category.sports? ? "background:url('#{asset_path("title-bg.png")}')" : '' %>">
      <%= render 'shared/breadcrumbs' %>
      <h1><%= @player.name %><% if @competition %> | <%= @competition.name %><% end %></h1>
      <% if @player.text.present? %>
        <%= render partial: 'shared/page_title_info_text_with_shrink', locals: { text: @player.text } %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if @event_count_before_filtration > 0 %>
    <%= render partial: 'events/list_with_calendar', locals: { events: @events } %>
  <% else %>
    <%= render 'shared/nothing_found_message' %>
  <% end %>
</div>
