<div style="text-align: center;"><strong><span style="font-size:18px;">Hello, Boss</span></strong></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="color:#696969;">A new ticket enquiry from <%= @enquiry.name %>.</span></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="color:#696969;">
  Ticket <a href="<%= admin_ticket_url(@enquiry.ticket) %>">#<%= @enquiry.ticket.id %> "<%= @enquiry.ticket.category %>"</a>
  of Event <a href="<%= admin_event_url(@enquiry.ticket.event.id) %>">#<%= @enquiry.ticket.event.id %> "<%= @enquiry.ticket.event.name %>"</a>
</span></span></div>
<% if @enquiry.body.present? %>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="color:#696969;">Additional message from client:<br><%= @enquiry.body %></span></span></div>
<% end %>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="color:#696969;">Return address: <%= @enquiry.email %></span></span></div>
