<%= form_for [:admin, @category], url: (@category.new_record? ? nil : admin_category_path(@category.id)) do |f| %>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this category from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :slug %><br>
    <%= categories_path() %>/ <%= f.text_field :slug %><br>
    <small>* leave blank to autobuild slug based on description</small>
  </p>

  <p>
    <h3>Information blocks</h3>
    <ul id="info-blocks">
      <%= f.simple_fields_for :info_blocks do |info_block| %>
        <%= render '/admin/shared/info_block_fields', f: info_block %>
      <% end %>
    </ul>
    <div class="links">
      <%= link_to_add_association '+ Add new information block', f, :info_blocks, partial: '/admin/shared/info_block_fields', data: { "association-insertion-node" => "#info-blocks", "association-insertion-method" => "append"} %>
    </div>
  </p>

  <p>
    <%= f.label :sports, 'Is this category a sport?' %>
    <%= f.check_box :sports %>
  </p>

  <%= render partial: 'admin/shared/seo_data_fields', locals: { f: f, name: 'category' } %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
