<%= form_for [:admin, @category], url: (@category.new_record? ? nil : admin_category_path(@category.id)) do |f| %>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this category from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :slug %><br>
    <%= categories_path() %>/ <%= f.text_field :slug %><br>
    <small>* leave blank to autobuild slug based on description</small>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label :sports, 'Is this category a sport?' %>
    <%= f.check_box :sports %>
  </p>

  <%= render partial: 'admin/shared/seo_data_fields', locals: { f: f, name: 'category' } %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
