<div class="holder">
  <p>
    <strong>Description:</strong> <%= @category.description %><br />
    <strong>Slug:</strong> <%= link_to (@category.slug.present? ? @category.slug : @category.id), category_path(@category), target: '_blank' %><br />
    <strong>Created at:</strong> <%= @category.created_at %><br />
    <strong>ID:</strong> <%= @category.id %>
  </p>

  <% if @category.info_blocks.any? %>
    <%= render partial: '/admin/shared/info_blocks', locals: {info_blocks: @category.info_blocks} %>
  <% end %>

  <% if @category.tabs.any? %>
    <%= render partial: '/admin/shared/tabs', locals: {tabs: @category.tabs} %>
  <% end %>

  <%= render partial: 'admin/shared/seo_data_info', locals: { carrier: @category, name: 'Category' } %>

  <%= link_to 'Edit', edit_admin_category_path(@category.id) %> |
  <%= link_to 'Back', admin_categories_path %>

  <%= render 'admin/events/events', events: @events %>
</div>
