<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner">
      <%= render 'shared/breadcrumbs' %>
      <h1>Change your password</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="panel">
    <div class="panel-body">
      <% flash.each do |key, value| %>
        <p><b><%= value %></b></p>
      <% end %>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <% if resource.errors.any? %>
          <ul>
            <% resource.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="form-line">
          <div class="form-line-label"><%= f.label :password, 'New password:*' %></div>
          <div class="form-line-input"><%= f.password_field :password, required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %></div>
        </div>

        <div class="form-line">
          <div class="form-line-label"><%= f.label :password_confirmation, 'Confirm your new password:*' %></div>
          <div class="form-line-input"><%= f.password_field :password_confirmation, required: true %></div>
        </div>

        <div class="submit-line">
          <%= f.submit "Change my password", class: 'buttn' %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "users/shared/links" %>
</div>
