<div class="page-title">
  <div class="container-fluid">
    <div class="page-title__inner" style="<%= @category.sports? ? "background:url('#{asset_path("title-bg.png")}')" : '' %>">
      <%= render 'shared/breadcrumbs' %>
      <h1><%= @category.description %></h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% if @competitions.count > 0 %>
    <div class="tickets">
      <%#= render 'shared/sub_search_and_filter' %>
      <div class="tickets__list row">
        <% @competitions.each do |competition| %>
          <%= render partial: 'competitions/tile', locals: { competition: competition } %>
        <% end %>
      </div>
    </div>
  <% elsif @players.count > 0 %>
    <div class="tickets">
      <%#= render 'shared/sub_search_and_filter' %>
      <div class="tickets__list row">
        <% @players.each do |player| %>
          <%= render partial: 'players/tile', locals: { player: player } %>
        <% end %>
      </div>
    </div>
  <% elsif @event_count_before_filtration > 0 %>
    <%= render partial: 'events/list_with_calendar', locals: { events: @events } %>
  <% else %>
    <%= render 'shared/nothing_found_message' %>
  <% end %>
</div>
