<div class="holder">
  <p>
    <strong>Name:</strong>
    <%= @competition.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link_to (@competition.slug.present? ? @competition.slug : @competition.id), competition_path(@competition), target: '_blank' %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= Category.find(@competition.category_id).description %>
  </p>

  <% if @competition.avatar.present? %>
    <p>
      <%= image_tag(@competition.avatar.grid_small.url) %>
    </p>
  <% end %>

  <% if @competition.tabs.any? %>
    <%= render partial: '/admin/shared/tabs', locals: {tabs: @competition.tabs} %>
  <% end %>

  <%= render partial: 'admin/shared/seo_data_info', locals: { carrier: @competition, name: 'Competition' } %>

  <%= link_to 'Edit', edit_admin_competition_path(@competition.id) %> |
  <%= link_to 'Back', admin_competitions_path %>

  <%= render 'admin/events/events', events: @events %>
</div>
